@import "tailwindcss";

@layer base{
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
}

body{
  background-color: whitesmoke;
}

.hero-bg{
  background: url("/assets/terra-bg.jpg");
  background-size: cover;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

/*accordion styling*/
.accordion {
  max-width: 600px;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: white;
  border-bottom: 2px solid #ececf1;
}

.accordion-title:hover {
  background-color: #8c96b5;
}

.accordion-title,
.accordion-content {
  padding: 0.4rem;
}

.accordion-content {
  background-color: white;
  border-bottom: 8px;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 100%;
  }
}